.btn {
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}
.btn-primary {
background-color: #007bff;
color: white;
}
.btn-secondary {
background-color: #6c757d;
color: white;
}
.btn-tertiary {
background-color: #28a745;
color: white;
}